.first-screen {
  max-height: 1020px;
  height: 100vh;
  background-image: url(../img/first-screen-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;

  @include desktop {
    background-size: cover;
  }

  & .container {
    max-width: 1920px;
    height: 100%;
    padding: 0;
    background: url(../img/first-screen-decor.svg) center bottom no-repeat;
    background-size: 100%;
  }
}
