.button {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 260px;
  width: 100%;
  padding: 15px;
  color: $body2;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  border: 1px solid $body4;
  background: rgba($color: $body2, $alpha: 0);
  user-select: none;
  transition: $baseTransition;
  cursor: pointer;

  &:hover {
    background-color: $body4;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 19px;
    box-sizing: border-box;
    background: url(../img/icons/right-shevron.svg) center no-repeat;
    background-size: 100%;
    transition: $baseTransition;
  }

  &:hover::after {
    background-image: url(../img/icons/right-shevron-white.svg);
  }
}
